<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gaylong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ThirdActivity"
            android:label="ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" /><!-- data标签,配置了http则可以跳转到网页 -->
            </intent-filter>
        </activity>

        <!--
         SecondActivity不是主活动，因此不用配置intent-filter,
        可以使用显示intent，如果有配置，那就是隐形intent
        -->
        <activity
            android:name=".SecondActivity"
            android:label="SecondActivity">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <!--
 SecondActivity不是主活动，因此不用配置intent-filter,
        可以使用显示intent，如果有配置，那就是隐形intent
        -->
        <activity
            android:name=".MainActivity2"
            android:label="MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>